#sw-ig-login-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 13px;
  margin-top: 25px;
  border-radius: 4px;
  align-items: center;
  display: inline-flex;
  text-decoration: none;
  justify-content: center;
  background-color: #1877f2;
  font-family: Helvetica, Arial, sans-serif;
}

#sw-ig-login-button img {
  width: 20px;
  margin-right: 10px;
  display: inline-block;
}

#sw-ig-plugin-sync-feed {
  margin-right: 30px;
}

.sw-ig-account-panel {
  display: flex;
  max-width: 60%;
  background: #fff;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 10px 15px;
  align-items: center;
  border: 1px solid #ddd;
  justify-content: flex-start;
}

.sw-ig-account-panel-title {
  font-size: 15px;
  font-weight: 700;
  min-width: 280px;
  margin-right: 30px;
}

.sw-ig-account-panel-accounts {
  display: flex;
  margin-top: 3px;
  font-size: 12px;
  font-weight: 400;
  flex-direction: column;
  text-transform: lowercase;
}

.section-title{
  margin-top: 35px;
}